body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 20px 50px;
   background-color: rgb(40, 25, 98);
   color: white;
}
.last{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    margin-top: 50px;
    
    
    color: white;
    font-weight: bold;
    margin-right: 390px;
    margin-left: 200px;

}
img{
    height: 300px;
    width: 350px;
    grid-row: 1 / 6;
    justify-self: end;
    display: block;
}
.us{
    background-color: gray;
    padding-bottom: 216px;
    padding-left: 20px;
    
    
    
}
.imagens{
    display: flex;
    justify-content: center;
    gap: 20px;
   
}
.im{
    height: 150px;
    width: 150px;
    margin-top: 10px;
    
}
.im:hover{
   border: solid white 2px;
}
footer{
    background-color: rgb(40, 25, 98);
    padding: 25px;
    margin-top: 50px;
    color: white;
    
}
.end{
    text-align: end;
}

   
 
